@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    margin: 0;
}

header{
    width: 95vw;
    margin: auto;
}
h1{
    font-family: 'Lora', serif;
    font-size: 3em;
    text-align: center;
}

h1 a{
    color: #333;
    text-decoration: none;
}

ul{
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    padding-inline-start: 0px;
}

li{
    font-family: 'Lora', serif;
    list-style: none;
    font-size: 1.25em;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

li a{
    color: #666;
    text-decoration: none;
}

li a:active {
    color: #DEB887;
}

li a:hover {
    color: #00ddff;
}

h2{
    font-family: 'Lora', serif;
}

h2 a{
    color: #666;
    text-decoration: none;
}

h2 a:active {
    color: #DEB887;
}

h2 a:hover {
    color: #00ddff;
}

p a{
    color: #666;
    text-decoration: none;
}

p a:active {
    color: #DEB887;
}

p a:hover {
    color: #00ddff;
}

main{
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    width: 95vw;
    margin: auto;
}

.post-date{
    font-family: 'Lora', serif;
    text-align: right;
    border-bottom: 2px solid #d0d0d0;
    font-size: 1.5em;
    padding-top: 20px;
}

article{
    width: 90vw;
    margin: auto;
}

@media only screen and (min-width: 700px){
    ul{
        display: flex;
        flex-direction: horizontal;
        justify-content: flex-end;
        column-gap: 10px;
    }

    article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .post-date{
        grid-column: 1/2;
        border-right: 2px solid #d0d0d0;
        border-bottom: none;
        padding-right: 20px;
    }

    section{
        grid-column: 2/5;
        padding-left: 20px;
        border-bottom: 2px dotted #d0d0d0;
        padding-bottom: 20px;
    }
}

